*/*/*.h5
*/*/*.pyc
*/*/*/*.pyc
*/*/*.pdf
*.class
__pycache__
radio.raw
*/out.html
*/*/out.html
*/*/*/*out.html
*/*/*/out.html
*/*/*/*.exe
*/*/*/*/*.exe
*.gz
out.html
phy/phy_005_basics_06/img/*
phy/phy_005_basics_06/img2/*
