*/*/*.pyg
*/*/*.h5
*/*/*.dvi
*/*/_preview*
*/*/_minted*
*/*/_minted/*
*/*/*.log
*/*/*.pyc
*/*/*/*.pyc
*/*/*.aux
*/*/*.out
*/*/*.pdf
.DS_Store
.Rhistory
_region_*
*.class
radio.raw
*/*/*ltxpng*
*/out.html
*/*/out.html
*/*/*/*out.html
*/*/*/out.html
*/*/*/*.exe
*/*/*/*/*.exe
