statsmodels==0.14.4
scipy==1.14.1
matplotlib==3.10.3
pandas==2.3.0
numpy==2.1.3
ipython
arch==7.2.0
rpy2
cvxopt==1.3.2
sympy==1.14.0
nimfa==1.4.0
astroML==1.0.2
mahotas==1.4.18
pandas-datareader==0.10.0
scikit-learn==1.7.0
scikit-image==0.25.2
lmfit==0.8.3
autograd==1.1.7
tensorflow==2.19.0
keras==3.10.0
librosa
python_speech_features
gym==0.9.4
control==0.10.2
numpy-stl
markdown=3.2.2
opencv-python==4.12.0.88
seaborn==0.13.2
chowtest
