statsmodels==0.14.4
scipy==1.14.1
matplotlib==3.10.3
pandas
numpy
ipython
arch
rpy2
cvxopt
sympy
nimfa
astroML
mahotas
pandas-datareader
scikit-learn
scikit-image
lmfit==0.8.3
autograd==1.1.7
sounddevice
tensorflow==1.4.1
keras==2.0.8
librosa
python_speech_features
gym==0.9.4
control
pyglet
pymunk
mayavi
numpy-stl
markdown=3.2.2
