matplotlib==2.0
pandas
numpy
scipy
ipython
statsmodels
arch
rpy2
cvxopt
sympy
nimfa
astroML
mahotas
pandas-datareader
scikit-learn
scikit-image
lmfit==0.8.3
autograd==1.1.7
sounddevice
tensorflow==1.4.1
keras==2.0.8
librosa
python_speech_features
gym==0.9.4
control
pyglet
pymunk
mayavi
numpy-stl

