body{
	background-color: #000000;
	margin:0px 0px; padding:0px;
	text-align:center;
}

#FullPage {
	position: relative;
	width:1024px;
	padding-bottom: 50px;
	margin:0px auto; /* Right and left margin widths set to "auto" */
	text-align:left; /* Counteract to IE5/Win Hack */
}

MainBody{
	position: relative;
	top: 0px;
}

#ProgramTitle{
	position: relative;
	top: 25px;
	width: 1000px;
	text-align: center;
}



/* This class is for the title of the program found above the dotted areas of the problem */

.Titles{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:xx-large;
	color:#C0C0C0;
	text-align: center;
}




#OverviewSection{
	position: absolute;
	top: 75px;
	left: 50px;
	width: 900px;
	height: 600px;
	border: black;
	border-style: dashed;
	border-width: 5px;
}

#OverviewPicture{
	position: absolute;
	top: 375px;
	left: 300px;
}




#LabDirections{
	position: absolute;
	top: 25px;
	left: 50px;
	width: 800px;
}

.Directions{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#C0C0C0;
	text-align: center;
}

/* This ID is for entire area of the program that will display as part of the simulation */

#LabSection{
	position: absolute;
	top: 75px;
	left: 0px;
	visibility: hidden;
}


#DrawingSectionOne{
	position: absolute;
	top: 0px;
	width: 900px;
	left: 50px;
	height: 600px;
	border: black;
	border-style: dashed;
	border-width: 5px;
}



.smallbutton{
	height: 30px;
	width: 100px;
	background-color: #000000;
	border: 1px #C0C0C0 solid;
	border-radius: 5px;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#C0C0C0;
}




#BeginButton{
	position: absolute;
	top: 300px;
	left: 375px;
	width: 150px;
}

#SpritzButton{
	position: absolute;
	top: 340px;
	left: 0px;
	width: 100px;
	height: 70px;
}

#ViewDropButton{
	position: absolute;
	top: 350px;
	left: 380px;
	width: 220px;
	height: 70px;
	
}

#ViewMainButton{
	position: absolute;
	top: 500px;
	left: 600px;
	width: 200px;
	height: 100px;
	visibility: hidden;	
}


.Button{
	height: 45px;
	padding-top: 5px;
	background-color: #000000;
	border: 2px #C0C0C0 solid;
	border-radius: 10px;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	color:#C0C0C0;
}

.BigButton{
	height: 38px;
	padding-top: 10px;
	background-color: #000000;
	border: 2px #C0C0C0 solid;
	border-radius: 10px;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	color:#C0C0C0;
}

.InvisibleButton{
	
}





